
<div class="widget">
  <h3 class="widget-title">{{settings.blog_sidebar_ads_title}}</h3>

  <div class="widget-content">
    <a href="{{settings.ads_block_url}}">{{ 'ads_block.jpg'| asset_url | img_tag}}</a>
  </div>
</div><!-- /.widget -->
