<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">{{ 'general.breadcrumbs.home' | t }}</a></li>
    <li class="active"><span>{{ collection.title }} {{page.title}}</span></li>
  </ol>
</div>