<section>
  <div class="container">
    {% assign title = settings.featured_item_title %}
    {% assign col = settings.collection_featured_item %}
    {% assign url = settings.featured_item_url%}
    <div class="padding-vertical-50">
      <div class="section-header center">
        <h2>{{title}}</h2>
      </div><!-- /.section-header -->
      <div class=" {% for product in collections[col].products limit: products_limit %}{%else%}helper-section{%endfor%} ">

        <div class="products home-products owl-carousel" data-items="4">

          {% for product in collections[col].products limit: 4 %}         
          {% include 'product-grid' %}
          {%else%}

          {%include 'product-grid-sample-2'%}


          {% endfor %}

        </div><!-- /.products -->
        

      </div> 

      {% capture url_enable %}featured_item_url_enable{% endcapture %}
      <div class="center">
        <a href="{{url}}" class="btn btn-lg btn-dark btn-outline">
          <span>{{'list_collection.view_more'|t}}</span>
        </a>
      </div><!-- /.margin-top-50 -->
    </div><!-- /.padding-vertical-50 -->
  </div><!-- /.container -->
</section><!-- /section -->

