
<div class="container">
  <div class="row ">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-6 center padding-bottom-20">
          <img alt="" src="{{'footer_logo.png'|asset_url}}">
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="widget-content center">
              {{settings.help_info_content}}
            </div>
        </div>
      </div>
    </div>
<div class="col-md-8 padding-top-85 padding-bottom-40">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include "shopping-widget" %}
    </div>

    <div class="col-md-3 col-sm-4 ">
      {% include "more-link-widget" %}
    </div>

    <div class="col-md-4 ">
      {% include "like-me-widget" %}

      {% include "payments-widget" %}
    </div>
    </div>
    </div>
  </div>
</div>