
<div class="container footer-v5">
  <div class="row">
    <div class="col-md-3 col-sm-3" id="block-about">
      <div class="row">

        <div class="col-md-12 col-sm-12 margin-bottom-50">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="154px" height="51px" viewBox="0 0 154 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Footer" transform="translate(-149.000000, -104.000000)">
                    <g id="Group" transform="translate(149.000000, 104.000000)">
                        <path d="M11.4270167,18.6189944 L11.5611324,18.6637512 C14.824615,19.7826715 16.7469404,21.34916 16.7469404,23.0499189 C16.7469404,23.8555416 15.8975408,26.2276527 13.3046368,26.2276527 C11.9187743,26.2276527 8.20823933,26.2276527 4.9000515,22.6918644 L0.340116915,26.9885186 C2.48596848,29.2711161 4.98946198,30.8376046 7.80589217,31.7327408 C10.0411542,32.404093 11.9187743,32.4936067 13.3046368,32.4936067 C16.121067,32.4936067 18.6692657,31.3299295 20.5021806,29.2711161 C22.0668641,27.5256003 23.0056741,25.2430028 23.0056741,23.0499189 C23.0056741,20.8120782 22.1562745,18.708508 20.5468859,16.9182354 C18.9374972,15.1727197 16.6128246,13.7852585 13.6175735,12.7558517 C13.3493421,12.6663381 13.0811106,12.5768245 12.7234687,12.4873109 C9.86233325,11.7712018 8.74470223,10.8760656 8.69999699,9.26482025 C8.65529174,8.23541353 8.96822843,7.74308858 9.23645988,7.4745477 C10.0411542,6.62416823 11.6058377,6.31087054 12.0081848,6.31087054 C14.7352045,6.31087054 16.0316565,7.16125 18.0433924,8.4591976 L19.1610234,9.17530663 L22.424506,3.84924577 L21.3962854,3.17789356 C19.1163181,1.7009187 16.5681194,0.0449165883 12.0081848,0.0449165883 C10.3987961,0.0449165883 7.04590307,0.716268797 4.72123054,3.13313675 C3.11184186,4.83389568 2.30714752,7.02697956 2.44126324,9.53336114 C2.57537897,12.5320677 3.96124144,14.9489356 6.46473493,16.6049377 C8.25294458,17.8133717 10.1752699,18.3056967 11.2034905,18.5742375 L11.4270167,18.6189944 Z M54.1403909,31.8670113 L54.1403909,12.6663381 L45.1546374,20.8568351 L36.168884,12.6663381 L36.168884,31.8670113 L29.9101502,31.8670113 L29.9101502,0.492484727 L32.0560018,0.492484727 L45.1546374,12.3977972 L58.2085678,0.492484727 L60.3991246,0.492484727 L60.3991246,31.8670113 L54.1403909,31.8670113 Z M116.812172,6.71368186 C118.555676,6.71368186 119.941538,8.14589991 119.941538,9.89141565 C119.941538,11.6369314 118.555676,13.0243926 116.812172,13.0243926 L114.398089,13.0243926 L114.398089,19.2903466 L120.254475,31.8670113 L126.915556,31.8670113 L120.701527,18.4399671 C123.96501,16.9629922 126.200272,13.6957448 126.200272,9.89141565 C126.200272,4.69962523 121.997979,0.447727914 116.812172,0.447727914 L104.562935,0.447727914 L104.562935,31.8222545 L110.821669,31.8222545 L110.821669,6.71368186 L116.812172,6.71368186 Z M130.198908,0.492484727 L130.198908,6.75843867 L138.91643,6.75843867 L138.91643,31.8670113 L145.175163,31.8670113 L145.175163,6.75843867 L153.84798,6.75843867 L153.84798,0.492484727 L130.198908,0.492484727 Z M26.4534416,50.2670348 L26.4534416,44.293492 L23.6578739,46.8416466 L20.8623062,44.293492 L20.8623062,50.2670348 L18.9151446,50.2670348 L18.9151446,40.506071 L19.5827428,40.506071 L23.6578739,44.209946 L27.7190967,40.506071 L28.4006033,40.506071 L28.4006033,50.2670348 L26.4534416,50.2670348 Z M38.7901013,40.506071 L32.2949265,40.506071 L32.2949265,42.4554789 L38.7901013,42.4554789 L38.7901013,40.506071 Z M32.2949265,46.2150512 L37.6774375,46.2150512 L37.6774375,44.2656433 L32.2949265,44.2656433 L32.2949265,46.2150512 Z M32.2949265,50.2670348 L38.7483764,50.2670348 L38.7483764,48.3176269 L32.2949265,48.3176269 L32.2949265,50.2670348 Z M42.4758,40.506071 L42.4758,42.4554789 L45.187918,42.4554789 L45.187918,50.2670348 L47.1350796,50.2670348 L47.1350796,42.4554789 L49.8332892,42.4554789 L49.8332892,40.506071 L42.4758,40.506071 Z M60.0141628,40.506071 L53.518988,40.506071 L53.518988,42.4554789 L60.0141628,42.4554789 L60.0141628,40.506071 Z M53.518988,46.2150512 L58.901499,46.2150512 L58.901499,44.2656433 L53.518988,44.2656433 L53.518988,46.2150512 Z M53.518988,50.2670348 L59.9724379,50.2670348 L59.9724379,48.3176269 L53.518988,48.3176269 L53.518988,50.2670348 Z M70.5844687,50.2670348 L68.5121324,50.2670348 L66.6901455,46.3542946 L65.7165647,46.3542946 L65.7165647,50.2531104 L63.769403,50.2531104 L63.769403,40.4921466 L67.4411935,40.4921466 C69.054556,40.4921466 70.3619359,41.8149591 70.3619359,43.4301828 C70.3619359,44.6137519 69.6665211,45.6302289 68.6512154,46.0897321 L70.5844687,50.2670348 Z M67.4411935,42.4415545 L65.7165647,42.4415545 L65.7165647,44.4048867 L67.4411935,44.4048867 C67.9836171,44.4048867 68.4147743,43.9732321 68.4147743,43.4301828 C68.4147743,42.8871335 67.9836171,42.4415545 67.4411935,42.4415545 Z M86.1895781,46.2011269 L88.4427223,46.2011269 C88.3036393,46.7441762 88.0254734,47.2315282 87.6082245,47.6353341 C87.024076,48.2062321 86.2591196,48.526492 85.4385301,48.526492 L85.3968052,48.526492 C84.5762157,48.526492 83.797351,48.1923078 83.2132025,47.5935611 C82.6429624,47.0087387 82.3230715,46.2150512 82.3369798,45.393515 C82.3369798,44.5719789 82.670779,43.7922157 83.2549274,43.2213177 C83.8390759,42.6364953 84.6179406,42.3162354 85.4385301,42.3162354 L85.4663467,42.3162354 C86.0922201,42.3301598 86.6763685,42.5111762 87.1770672,42.8592848 L88.5818053,41.4807749 C87.7333991,40.7984821 86.6624603,40.3807519 85.480255,40.3668275 L85.4385301,40.3668275 C82.670779,40.3668275 80.4176348,42.5947223 80.3898182,45.3656664 C80.3620016,48.1644591 82.5873292,50.4062782 85.3828969,50.4341269 C86.1200367,50.4341269 87.3161502,50.1974131 88.4566306,49.2923308 L88.4566306,50.2670348 L90.4037922,50.2670348 L90.4037922,44.251719 L86.1895781,44.251719 L86.1895781,46.2011269 Z M111.878203,50.2670348 L111.029797,48.4568703 L106.996391,48.4568703 L106.078443,50.2670348 L103.89484,50.2670348 L108.860103,40.506071 L109.430343,40.506071 L114.033989,50.2670348 L111.878203,50.2670348 Z M107.997788,46.5074624 L110.111849,46.5074624 L109.096544,44.335265 L107.997788,46.5074624 Z M101.514535,46.6606302 L101.514535,40.506071 L99.5673732,40.506071 L99.5673732,46.6745545 L99.5812815,46.6745545 C99.5673732,47.1619065 99.3865653,47.6074854 99.0388579,47.955594 C98.6911504,48.3037025 98.2460849,48.484719 97.7592945,48.484719 C97.2725041,48.484719 96.8135303,48.3037025 96.4658229,47.955594 C96.1181155,47.6074854 95.9233993,47.1479821 95.9233993,46.6606302 L95.9233993,40.506071 L93.9762377,40.506071 L93.9762377,46.6745545 C93.990146,48.7492815 95.6730499,50.4341269 97.7592945,50.4341269 C99.8316308,50.4341269 101.528443,48.7492815 101.528443,46.6606302 L101.514535,46.6606302 Z M124.228771,50.2670348 L122.156435,50.2670348 L120.334448,46.3542946 L119.360867,46.3542946 L119.360867,50.2531104 L117.413705,50.2531104 L117.413705,40.4921466 L121.085496,40.4921466 C122.698858,40.4921466 124.006238,41.8149591 124.006238,43.4301828 C124.006238,44.6137519 123.310823,45.6302289 122.295518,46.0897321 L124.228771,50.2670348 Z M121.085496,42.4415545 L119.360867,42.4415545 L119.360867,44.4048867 L121.085496,44.4048867 C121.627919,44.4048867 122.059077,43.9732321 122.059077,43.4301828 C122.059077,42.8871335 121.627919,42.4415545 121.085496,42.4415545 Z M127.775387,40.506071 L130.52923,40.506071 C131.18292,40.506071 131.822701,40.63139 132.420758,40.8820282 C133.004907,41.1326664 133.519514,41.4807749 133.964579,41.9263539 C134.423553,42.3858571 134.77126,42.9010578 135.007701,43.4858802 C135.271959,44.0846269 135.397134,44.7251466 135.397134,45.3795907 C135.397134,46.0479591 135.271959,46.6884789 135.007701,47.2872256 C134.77126,47.8720479 134.423553,48.3872486 133.964579,48.8328275 C133.519514,49.2784065 133.004907,49.6404394 132.420758,49.8771532 C131.822701,50.1417157 131.18292,50.2670348 130.52923,50.2670348 L128.56816,50.2670348 L128.56816,50.2531104 L127.775387,50.2531104 L127.775387,40.506071 Z M129.722548,48.3176269 L130.52923,48.3176269 C132.142592,48.3176269 133.449972,46.9948144 133.449972,45.3795907 C133.449972,43.764367 132.142592,42.4554789 130.52923,42.4554789 L129.722548,42.4554789 L129.722548,48.3176269 Z" id="SMART-METER-GAURD" fill="#FFFFFF"></path>
                        <polygon id="Path" fill="#F03454" points="82.959771 1 67 32.3745266 74.0187228 32.3745266 83.7197601 13.3081238 92.6608083 32.3745266 99.5901207 32.3745266 84.7926859 1"></polygon>
                    </g>
                </g>
            </g>
        </svg>
        </div>
        <div class="col-md-12 col-sm-12">
          {% include "about-widget" %}
        </div>


      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="row">


        <div class="col-md-12 col-sm-12 margin-bottom-50">
          <ul class="list-socials social border-rightf">
            {{settings.footer_social_content}}
          </ul>
        </div>
        <div class="col-md-12 col-sm-12">
          {% include "help-info-widget" %}
        </div>


      </div>
    </div>

    <div class="col-md-3 col-sm-3">

      <div class="col-md-12 col-sm-12 margin-bottom-50">
          <ul class="list-socials">
          {{settings.footer_payment_content}}
        </ul>
        </div>
      <div class="col-md-12 col-sm-12">
          {% include "shopping-widget" %}
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="col-md-12 col-sm-12 margin-bottom-50">
          <a href="{{settings.footer_button_url}}" class="btn btn-lg btn-white">
          <span>{{settings.footer_button}}</span>
        </a>
        </div>

      <div class="col-md-12 col-sm-12" >
          {% include "more-link-widget" %}
        </div>

    </div>
  </div>
</div>
