    <header id="header" class="awe-menubar-header">
        <nav class="awemenu-nav" data-responsive-width="1200">
            <div class="container">
                <div class="awemenu-container">
                    <div class="navbar-header">
                        {% include "navbar-icon" %}
                    </div>
                    {% include "logo" %}

                    <ul class="awemenu awemenu-right">
                        {% include "navbar-menu" %}
                    </ul><!-- /.awemenu -->
                </div>
            </div><!-- /.container -->

        </nav><!-- /.awe-menubar -->
    </header><!-- /.awe-menubar-header -->
