
<header id="header" class="awe-menubar-header header-style-3">
  <nav class="awemenu-nav headroom" data-responsive-width="1200">
    <div class="container">
      <div class="awemenu-container">
        <div class="navbar-search-wrapper">
          {% include "search" %}
        </div>

        <div class="navbar-header">
          {% include "navbar-icon" %}
        </div>

        {% include "logo" %}

        <ul class="awemenu awemenu-right">
          {% include "navbar-menu3" %}
        </ul><!-- /.awemenu -->
      </div>
    </div><!-- /.container -->

  </nav><!-- /.awe-menubar -->
</header><!-- /.awe-menubar-header -->
