
<header id="header" class="awe-menubar-header header-style-1">
  <div class="header-top">
    <div class="container">
      <div class="header-top-relative">
        <nav class="navtop">
          {% include "logo" %}

          {% include "navbar-icon" %}

          {% include "policy-header" %}
        </nav>
      </div>
    </div>
  </div>

  <nav class="awemenu-nav" data-responsive-width="1200">
    <div class="container">
      <div class="awemenu-container">
        {% include "logo" %}

        {% include "search" %}

        <ul class="awemenu awemenu-left">
          {% include "navbar-menu" %}
        </ul><!-- /.awemenu -->

      </div>
    </div><!-- /.container -->

  </nav><!-- /.awe-menubar -->
</header><!-- /.awe-menubar-header -->
