{% assign help_info = settings.help_info_title %}
{% assign help_info_content = settings.help_info_content %}
<div class="widget">
  <h3 class="widget-title">{{help_info}}</h3>

  <div class="widget-content">
    {{help_info_content}}
  </div>
</div><!-- /.widget -->
