<div class="helper-note">
  <span class="helper-icon"></span>
  <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
  <p>{{ 'home_page.onboarding.no_products_html' | t }}</p>
  <p><a class="admin-btn-primary" href="/admin/collections">{{ 'home_page.onboarding.add_product' | t }}</a></p>
</div>