
<section class="banner-v2">
  <div class="container">
<div class="home-trending padding-top-50">
    <div class="row">

      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
            <a href="{{settings.banner_v2_url1}}">
              <img src="{{'banner_v2_image1.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <a href="{{settings.banner_v2_url2}}">
              <img src="{{'banner_v2_image2.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->


          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>

</div>
</div><!-- /.home-trending -->

  </div><!-- /.container -->
</section><!-- /section -->