<section>
  <div class="container-full-width">
    <div class="padding-vertical-50">
      {% assign products_per_row = settings.new_arrival_num %}
      {% assign products_limit = settings.new_arrival_limit %}
      {% assign title = settings.new_arrival_title %}
      {% assign col = settings.collection_new_arrival %}

      {% assign url = settings.new_arrival_url%}

      <div class="arrivals">
        <div class="section-header center">
          <h1>{{title}}</h1>
          <div class="seperator-red"></div>
        </div><!-- /.section-header -->

        <div class=" {% for product in collections[col].products limit: products_limit %}{%else%}helper-section{%endfor%} ">



          {% for product in collections[col].products limit: settings.new_arrival_limit%}
          {% include 'product-grid-home' %}
          {%else%}

          {%include 'product-grid-sample'%}


          {% endfor %}

        


      </div>
      </div><!-- /.arrivals -->
    </div>
  </div><!-- /.container-full-width -->
</section><!-- /section -->
