
{%if  settings.upsel_style == 'collection'%}

    {% assign number_of_products = 3 %}
    {% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

    {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if collection and collection.products_count > 1 %}

    <div class="relared-products">
      <div class="relared-products-header margin-bottom-20">
        <h3 class="upper">{{settings.upsell_product_title}}</h3>
      </div>

      <div class="products owl-carousel" data-items="3">

        {% assign current_product = product %}
        {% assign current_product_found = false %}
        {% for product in collection.products limit: number_of_products_to_fetch %}
        {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
        {% else %}
        {% unless current_product_found == false and forloop.last %}

        <div class="item">
          {% include 'product-grid' %}
        </div>

        {% endunless %}
        {% endif %}
        {% endfor %}
      </div>
    </div><!-- /.relared-products -->


    {% endif %}
{%elsif  settings.upsel_style == 'tags'%}
{% assign number_of_related_products_to_show = 3 %}


{% assign current_product = product %}
{% assign current_product_tags = product.tags %}
{% assign found_first_match = false %}

{% paginate collections.all.products by 1000 %}
{% for product in collections.all.products %}
  {% unless product.handle == current_product.handle %}
    {% for tag in product.tags %}
      {% if current_product_tags contains tag and tag != 'EngoTheme' %}
        {% if found_first_match == false %}
          {% assign found_first_match = true %}
          {% assign first_match = tag %}
        {% else %}
          {% assign second_match = tag %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endunless %}
{% endfor %}
{% endpaginate %}

{% if found_first_match == true %}

<div class="relared-products">
  <div class="relared-products-header margin-bottom-50">
    <h3 class="upper">{{settings.upsell_product_title}}</h3>
  </div>

  <div class="products row">

  {% paginate collections.all.products by 1000 %}
  {% for product in collections.all.products %}
    {% unless product.handle == current_product.handle %}
      {% if product.tags contains first_match or product.tags contains second_match %}
        {% include 'product-related' with collection.handle %}
      {% endif %}
    {% endunless %}
  {% endfor %}
  {% endpaginate %}

</div>
</div><!-- /.relared-products -->

{% endif %}
{{ 'jquery.pick.js' | asset_url | script_tag }}
<script type="text/javascript" charset="utf-8">
//<![CDATA[
  var howMany = {{ number_of_related_products_to_show }};
  jQuery(function() {
    jQuery('.products .product').pick(howMany);
  });
//]]>
</script>

{%endif%}
