<ul class="navbar-search">
  <li>
    <a href="#" title="" class="awemenu-icon awe-menubar-search" id="open-search-form">
      <span class="sr-only">{{'general.search.search'|t}}</span>
      <span class="icon icon-search"></span>
    </a>

    <div class="menubar-search-form" id="menubar-search-form">
      <form action="/search" method="get">
        <input class="form-control" type="search" name="q" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}"  placeholder="">
        <div class="menubar-search-buttons">
          <button type="submit" class="btn btn-sm btn-white">{{'general.search.search'|t}}</button>
          <button type="button" class="btn btn-sm btn-white" id="close-search-form">
            <span class="icon icon-remove"></span>
          </button>
        </div>
      </form>
    </div><!-- /.menubar-search-form -->
  </li>
</ul>
