
<div class="main-header background" style="background-image: url({{'product_detail_bg_headding.jpg' | asset_url }})">
  <div class="container">
    <h1>{{ 'general.breadcrumbs.product' | t }}</h1>
  </div>
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">{{ 'general.breadcrumbs.home' | t }}</a></li>
    <li class="active"><span>{{product.title}}</span></li>
  </ol>
</div>


{%include 'product-detail'%}
